body {
  text-align: center;
  background-color: #fbe2e5;
}

.title {
  font-size: 60px;
  margin-top: 3%;
}

/* #pics img {
  width: 100px;
  margin-right: 1%;
} */

.imgclass {
  width: 100px;
  margin-right: 1%;
}
